/*Limpando as Formatações padroes*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: auto;
  height: 100vh;
  font-size: 16px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-image: linear-gradient(to top, #e9f782, #92a105); /*#f3f3f3*/
  background: url('../img/paisagem2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#naveg {
  background: #fff;
  height: 45px;
  position: fixed;
  width: 100%;
  top: 0;
}

#area {
  width: 600px;
  margin: 0 auto;
}

#area-principal {
  width: 720px;
  margin: 55px auto 10px auto;
}

#logo {
  position: fixed;
  left: 50px;
  float: left;
}

#menu {
  right: 50px;
  position: fixed;
  /*float: right;*/
  padding: 10px 0;
}

#posta {
  text-align: center;
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 1px #061a00;
}

/*************** Formatacao do menu *********************/
a {
  text-decoration: none;
  padding: 5px 10px;
}
/*Links não visitados*/
a:link {
  color: #838383;
}

/*Links visitados*/
a:visited {
  color: #838383;
}

/*Links hover*/
a:hover {
  color: #fff;
  background: #b9c941;
}
/*Links active*/
a:active {
  color: #535353;
}

h2 {
  color: #98a531;
}
/*********************Classes************************/
.verde {
  color: #98a531;
}

.img-posta {
  float: left;
  margin: 0 10px 5px 0px;
}
.data-posta {
  font-size: 14px;
  border-bottom: 1px solid #f4f4f4;
  display: block;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.postado {
  border-left: 5px solid #d8d8d8;
  padding-left: 5px;
  display: block;
  margin: 10px;
}

.direitos {
  text-align: center;
  font-size: 12px;
  
  
}

/*********************Formulario de Contato*****************************/

#h3 {
  font-size: 25px;
  text-align: center;
  margin: 20px;
  margin-top: 60px;
}

#form-posta-contato {
  height: 450px;
  width: 500px;
  text-align: center;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 1px #061a00;
  margin: 10px auto 10px auto;
  font-size: 20px;
}

#input-contato {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid;
  align-items: center;
}

#input-contato-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid;
}
#botao {
  padding: 10px;
  border-radius: 20px;
  width: 100px;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  transition-duration: 0, 7ms;
  background-color: #9aaa1f;
}

#botao:hover {
  background-color: #616e08;
  color: white;
}
form div label {
  margin-top: 20px;
}
